<% include partials/header %>
<div class="landing pt-3">
    <div class="jumbotron bg-transparent">
        <div class="container">
            <h1 class="display-4">CryptoCerts</h1>
            <p class="lead">A secure way to store and verify your certificates.</p>
            <a href="#" class="btn btn-dark">Get Started!</a>
        </div>
    </div>


    <form class="form-inline mx-auto w-50 justify-content-center">
        <h4 class="display-5 m-3">Verify your certificate</h4>
        <input class="form-control-lg w-75 mr-sm-2" type="url" placeholder="Enter URL here." aria-label="Search">
        <button class="btn btn-lg btn-dark " type="submit">Verify</button>
    </form>
</div>


<% include partials/footer %>